.centered-layout {
	position: relative;
	min-height: 100%;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.no-wrap {
  white-space: nowrap;
}

table .variant-row,
table .order-product-row {
  border-top: none !important;
}

.ui.sortable.table .table thead th {
  cursor: auto;
  border-left: none;
}
.ui.sortable.table .table thead th:hover {
  background: rgba(0, 0, 0, 0);
}

a i.link.icon {
  opacity: 0 !important;
}

i.disabled.icon.caret.down {
  opacity: 0.25 !important;
}

a:hover i.link.icon {
  opacity: 0.8 !important;
}

.ui.form.filter-form .inline.fields {
  margin-bottom: 0;
}

.ui.attached.segment.toolbar-products {
  border: none;
}

.ui.secondary.pointing.menu .item.subnav-search {
  padding: 0 0 5px;
}