.centered-layout {
	position: relative;
	min-height: 100%;
}

.hidden {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

table .variant-row {
  border-top: none !important;
}

a i.link.icon {
  opacity: 0 !important;
}

a:hover i.link.icon {
  opacity: 0.8 !important;
}