.centered-layout {
	position: relative;
	min-height: 100%;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.no-wrap {
  white-space: nowrap;
}

table .variant-row,
table .order-product-row {
  border-top: none !important;
}
table .order-product-row > .segment,
table .variant-row > .segment {
  padding-top: 0;
}

.ui.sortable.table .table thead th {
  cursor: auto;
  border-left: none;
}
.ui.sortable.table .table thead th:hover {
  background: rgba(0, 0, 0, 0);
}

.row-actions .button {
	margin-right: 1em !important;
}

.hover-icon i.icon {
  opacity: 0 !important;
}

i.disabled.icon.caret.down {
  opacity: 0.25 !important;
}

.hover-icon:hover i.icon {
  opacity: 1 !important;
}

.ui.segment.toolbar,
.ui.segments.toolbar,
.ui.segments.toolbar .segment {
  border: none !important;
  box-shadow: none !important;
  padding: 0;
}
.ui.segments.toolbar {
  margin: 0 !important;
  background-color: transparent !important;
}

.ui.secondary.pointing.menu .item.subnav-search {
  padding: 0 0 5px;
}

.ui.label {
  white-space: nowrap;
  margin: 0.14285714em 0.14285714em !important;
}

.ui.label > .detail {
  font-weight: 300 !important;
  opacity: 1 !important;
}

.ui.menu .ui.dropdown .menu > .item.file-item {
  min-width: 350px;
}

.pre-text {
  white-space: pre-wrap;
}

.SingleDatePicker {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.SingleDatePicker .SingleDatePickerInput .DateInput {
  padding: 0;
  font-size: 14px;
}

.SingleDatePickerInput__clear-date--hover {
  background: none !important;
}
